# flask==3.0.0
# requests==2.31.0
# joblib==1.3.2
# numpy==1.26.2
# pandas==2.1.4
# sklearn==0.0
# scikit-learn==1.3.2
# scipy==1.11.4

Flask
requests
joblib
scikit-learn
tensorflow
numpy
pandas
nltk
